<nav class="navbar bg-dark sticky-top">
	<a class="navbar-brand text-white" href="#">
		<!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
		<strong>Weather Station</strong>
	</a>
</nav>

<div class="container justify-content-center">
	<div class="row mx-auto mt-5 justify-content-center">
		<div class="col-sm-8">
			<input
        type="text"
        class="form-control"
        id="cityname"
        placeholder="Enter city name..."
        [(ngModel)]="name"
      />
    </div>
			<div class="col-cm-4">
				<input
        type="button"
        class="form-control bg-success text-white"
        value="Get Weather!"
        (click)="getWeather()"
      />
    </div>
			</div>
		</div>

		<div class="container border border-dark rounded justify-content-between justify-content-center mt-5">
			<div class="row mt-3">
				<div class="col-sm-12 h1 d-flex justify-content-center">{{name|uppercase}}</div>
			</div>
			<div class="row">
				<div class="col-sm-12 h2 d-flex justify-content-center">{{dateval|date}}
					{{dateval|date:'shortTime'}}
				</div>
			</div>

			<div class="row">
				<div class="container">
					<div class="row d-flex justify-content-center justify-content-around mt-3">
						<div class="col-sm-3 border border-dark rounded h4 mb-1">DESCRIPTION : {{description}}</div>
						<div class="col-sm-3 border border-dark rounded h4 mb-1">MIN TEMP : <br> {{min_temp}}</div>
							<div class="col-sm-3 border border-dark rounded h4 mb-1">MAX TEMP :
								<br> {{max_temp}}</div>
							</div>
							<div class="row d-flex justify-content-center justify-content-around mb-3 mt-3">
								<div class="col-sm-3 border border-dark rounded h4 mb-1">HUMIDITY :
									<span>{{humidity}}</span> </div>
								<div class="col-sm-3 border border-dark rounded h4 mb-1">WIND SPEED :
									<span>{{wind_speed}}</span>
								</div>
								<div class="col-sm-3 border border-dark rounded h4 mb-1">CLOUDS :
									<span>{{clouds}}</span></div>
							</div>
						</div>
					</div>
				</div>
				<div style="position: relative">
					<p style="position: fixed; bottom: 0; width:100%; text-align: center" class="text-white"> Data
						Powered by
						OpenWeatherMap API
					</p>
				</div>